
/*/ Contacto /*/
.Field {
    width: 100%;
    height: ($ancho/4)-150px;
}

.containerCont {
    display: inline-block;
    justify-content: center;
}

.imgUbi {
    width: $ancho-200px;
    height: ($ancho/2)+100px;
}

.ubiH {
    text-align: center;
    font-style: italic;
    margin: 5px;
}