/*/ index*/


.divLogo {
    text-align: center;
}

.logo {
    width: 10%;
    height: 10%;
    animation-name: aparecer;
    animation-duration: 3s;
}
.divbotonC{
    background-color: $ColorPrimario;
}

@keyframes aparecer {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.divboton {
    text-align: right;
    margin: 10px;
    background-color: $ColorPrimario;
}

.divbotonC {
    text-align: right;
}

.botonimg {
    width: 30px;
    height: 30px;
}
.boton:hover{
    background-color: grey;
}

.nav {
    width: 100%;
    margin: 0;
    height: 80px;
    background-color: $ColorPrimario;
    position: sticky;
    top: 0;
    z-index: 20;
    display: flex;
    justify-content: center;
    grid-area: nav;
   
}


.nav ul {
    list-style: none;
    padding-left: 3px;

}

.nav ul li {
    display: inline-block;
    margin-top: 10px;
    position: relative;
}

.nav ul li ul {
    display: none;
}

.nav ul li:hover ul {
    display: block;
    position: absolute;
    background-color: $ColorPrimario;

}





.destacadosPrimeraLinea {
    background-color: $ColorSecundario;
    transition: all 1s;


}
.destacadosPrimeraLinea:hover{
    transform: translate(50px,20px) scale(1.5)
}

.destacadosSegundaLinea {
    background-color: $ColorSecundario;
    transition: all 1s;
}
.destacadosSegundaLinea:hover{
    transform: translate(50px,20px) scale(1.5)
}




/* Tipos de tipografia usados en la web*/

.tipografiaMacWeb {
    font-style: italic;
    margin: 5px;
}




/* footer */
.foo{
    margin: 60px;
    background-color: $ColorTerceario;
}


.loginsta {
    width: 50px;
    height: 50px;
}

.logface {
    width: 50px;
    height: 50px;
}

.logyoutube {
    width: 50px;
    height: 50px;
}

.logmsj {
    width: 25px;
    height: 25px;
}

.logubi {
    width: 25px;
    height: 25px;
}
