

/*/ Productos /*/
.mainProductos{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; 
}
.containerProductos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    gap: 10px;
    justify-content: center;
  }

.containerProductos img{ 
    width: 100%;
    object-fit: contain;
    height: 300px;
    border-radius: 10px 10px 0 0;
  }

.containerProductos div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 250px;
    margin-top: 10px;
    background-color:$ColorSecundario;
    border-radius: 10px;
  }
.btnAgregar{
  border: 0;
  border-radius: 3px;
  padding: 5px;
  margin: 10px;
}  
.btnAgregar:hover{
  background-color: rgba(0, 81, 255, 0.323);
}
.precio{
  font-size: 30px;
}