

/*/ Productos /*/

.containerProductos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
}

.cardPro {
    width: 150px;
    height: 250px;
    margin: 20px;
    padding: 10px;
    border-radius: 15px 15px 0 0;

}

.cardimgPro {
    height: 150px;
    width: 150px;

}

.cardimgPro1 {
    height: 150px;
    width: 150px;
}

.cardp {
    text-align: center;
}
.img-fluid{
background-color: $ColorPrimario;
}
